<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h2>Edit Your Listing : </h2>
    <br>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" value="<%=listing.title%>" name="listing[title]" required>
            <div class="invalid-feedback">Please enter a title</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"><%=listing.description%></textarea required>
                <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
            <img src="<%= originalImgUrl %>" alt="listing image">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" value="<%=listing.image%>" name="listing[image]" class="form-control" enc>
            <div class="invalid-feedback">Add a Image</div>
        </div>
    <div class="row">    
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" value="<%=listing.price%>" name="listing[price]" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" value="<%=listing.location%>" name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
    </div>    
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" value="<%=listing.country%>" name="listing[country]" class="form-control" required>
            <div class="invalid-feedback">Country name should be</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">EDIT</button>
    </form>
    </div>
</div>